{% extends "base.html" %}
  {% block ptitle %}
<title>publishers</title>
{% endblock %}
  {% block content %}
  {% load static %}
  <h3>Publishers</h3>
  <table class="table table-hover">
    <thead>
            <tr>
                <th>Publisher name</th>
                <th>Email</th>
                <th>Address</th>                
                <th>Books Published</th>
                {% if user.is_superuser %}
                <th>Action</th>
                {%endif%}
                
            </tr>
            </thead>
            {% for i in pbook %}

            <tr>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.address}}</td>
                <td>
                {% if i.books.all %}
                    {% for book in i.books.all %}
                        {{ book.title }} (₹{{ book.price }}){% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    No books published.
                {% endif %}
            </td>
            {% if user.is_superuser %}
             <td>
                <a href="{% url 'editpublisher' i.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'deletepublisher' i.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
            </tr>
            {%endif%}
            {% endfor %}
        </table>
        {% endblock %}
